.icon {
  position: fixed;
  z-index: 1;
  right: 0.5em;
  top: 0.5em;
  color: whitesmoke;
  font-size: 1.5em;
  cursor: pointer;
  transition: font-size 0.2s;
}

.icon:hover {
  font-size: 1.6em;
}

.icon-deactivated {
  display: none;
}