form {
  width: 90%;
  max-width: 300px;
  background-color: #fff;
  padding: 23px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  animation-duration: 0.5s;
  animation-name: slidein;
}

.formDarkMode {
  background-color: #4a3c53;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #1E1E1F;
  margin-bottom: 26px;
}

.labelDarkMode {
  color: #fff7f7;
}

textarea {
  background-color: #F9FBFC;
  border: 2px solid #202329;
  border-radius: 2px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1E1E1F;
  font-size: 17px;
  text-align: center;
  padding: 12px;
  height: 80px;
  width: calc(100% - 30px);
  resize: none;
  border-radius: 10px;
}

.textAreaDarkMode {
  color: #fff7f7;
  background-color: #202124;
}

textarea::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

textarea:focus {
  outline-color: #61DAFA;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 44px;
  border-radius: 2px;
  border: none;
  font-family: 'Montserrat';
}

.TodoForm-button--add {
  background: #61DAFA;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.TodoForm-button--add:hover {
  box-shadow: 1px 2px 5px #888888;
}

.TodoForm-button--add-darkMode {
  box-shadow: 1px 1px 1px #888888;
}
  
.TodoForm-button--cancel {
  background: transparent;
  border-radius: 10px;
  background-color: #ef5e5e;
  transition: box-shadow 0.3s;
}

.TodoForm-button--cancel:hover {
  box-shadow: 1px 2px 5px #888888;
}