.CreateTodoButtonContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

.CreateTodoButton {
    color: #4286f3;
    font-size: 2.5em;
    text-align: center;
    filter: drop-shadow(1.2px 1.2px 1.2px #2374f5);
}

.CreateTodoButton:hover {
    animation: spin 1s linear infinite;
    color: #3d63a3;
}

/* @keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */