.TodoSearchContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 8.9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.supportSearchContainer {
  position: relative;
}

.iconSearch {
  position: absolute;
  right: 0.7em;
  top: 0.6em;
  z-index: 30;
  color: black;
}

.TodoSearch {
  height: 2.5em;
  width: 22em;
  outline: none;
  padding-left: 0.5em;
  border: 1px solid gray;
  border-radius: 5px;
  transition: opacity 1s, background-color 0.5s;
}

.TodoSearch:disabled {
  opacity: 25%;
}

.iconSearch--disabled {
  opacity: 25%;
}

.TodoSearch:focus {
  box-shadow: 0 0 2px 0 #4286f4;
  border: 1px solid #4286f4;
}

.iconSearchDarkMode {
  color: #fff7f7;
}

.TodoSearchDarkMode {
  background-color: #202124;
  color: #fff7f7;
}